<html>
<body>

<div class="card shadow-lg mx-auto my-5" style="border-radius: 1rem !important;">
  <div class="card-body">
    <h1 class="card-title text-center mt-3 mb-5">Welcome to Twitter Whack, enter two words to start!</h1>

    <div class="col mx-auto">
      <form action="/" method="POST">
        <div class="form-group">
          <label for="word1Input">Word 1</label>
          <input type="text" name="word1" class="form-control" placeholder="Your first word">
        </div>
        <div class="form-group">
          <label for="word2Input">Word 2</label>
          <input type="text" name="word2" class="form-control" placeholder="Second word">
        </div>
        <button type="submit" class="btn btn-primary">Go</button>
      </form>
    </div>
  </div>
</div>

</body>
</html>


